DEBUG=True

GMAIL_FIRSTNAME=<GMAIL_FIRSTNAME>
GMAIL_LASTNAME=<GMAIL_LASTNAME>
GMAIL_PASSWORD=<GMAIL_PASSWORD>
GMAIL_USERNAME=<GMAIL_USERNAME>
GMAIL_HOSTNAME=<GMAIL_HOSTNAME>

TWITCH_USERNAME=<TWITCH_USERNAME>
TWITCH_PASSWORD=<TWITCH_PASSWORD>

TWITCH_APP_CLIENT_ID=<TWITCH_APP_CLIENT_ID>
TWITCH_APP_CLIENT_SECRET=<TWITCH_APP_CLIENT_SECRET>
TWITCH_APP_SLUG="api-clip"
TWITCH_APP_REDIRECT_URI="http://localhost:3000"